<!-- ---------- البانر الثالث (بين الأقسام) ---------- -->
<section class="banner banner-middle">
    <div class="banner-container">
        <img src="banner5.jpg" alt="بانر بين الأقسام">
    </div>
</section>
