<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>متجر لبانيتا</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include 'sections/header.twig' %}
    {% include 'sections/banner1.twig' %}
    <!-- لاحقًا نستدعي الأقسام الأخرى -->
    <script src="script.js"></script>
</body>
</html>
