<!-- ---------- البانر الأول ---------- -->
<section class="banner">
    <div class="banner-slider">
        <div class="slide">
            <img src="banner1.jpg" alt="بانر 1">
        </div>
        <div class="slide">
            <img src="banner2.jpg" alt="بانر 2">
        </div>
        <div class="slide">
            <img src="banner3.jpg" alt="بانر 3">
        </div>
    </div>
</section>
