<!-- ---------- الأقسام الدائرية ---------- -->
<section class="categories">
    <div class="category">
        <img src="groups.png" alt="المجموعات">
        <p>المجموعات</p>
    </div>
    <div class="category">
        <img src="skin.png" alt="البشرة">
        <p>البشرة</p>
    </div>
    <div class="category">
        <img src="hair.png" alt="الشعر">
        <p>الشعر</p>
    </div>
    <div class="category">
        <img src="body.png" alt="الجسم">
        <p>الجسم</p>
    </div>
    <div class="category">
        <img src="hogra.jpg" alt="لبان الذكر الحوجري العلاجي">
        <p>لبان الذكر الحوجري العلاجي</p>
    </div>
    <div class="category">
        <img src="incense.jpg" alt="بخور لبان الذكر">
        <p>بخور لبان الذكر</p>
    </div>
</section>
